# E quando o nosso código demora muito? Será que travou? Quanto tempo vai demorar?

### Biblioteca/Módulo tqdm

- Vamos importar os arquivos csv da Empresa Contoso e tratar como fizemos ao longo desse módulo

In [4]:
import pandas as pd
#importando os arquivos
vendas_df = pd.read_csv(r'Contoso%20-%20Vendas%20-%202017.csv', sep=';',encoding='ISO-8859-1')
produtos_df = pd.read_csv(r'Contoso%20-%20Promocoes.csv', sep=';',encoding='ISO-8859-1')
lojas_df = pd.read_csv(r'Contoso%20-%20Lojas (1).csv', sep=';',encoding='ISO-8859-1')
clientes_df = pd.read_csv(r'Contoso%20-%20Clientes.csv', sep=';',encoding='ISO-8859-1')
display(produtos_df.head())
#limpando apenas as colunas que queremos
# clientes_df = clientes_df[['ID Cliente', 'E-mail']]
# produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
# lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

# #mesclando e renomeando os dataframes
# vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
# vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
# vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail': 'E-mail do Cliente'})
# display(vendas_df)

,ID Promocao,Nome Promocao,Percentual Desconto,Data Inicio,Data Termino
0,1,Sem desconto,0,01/01/2017,31/12/2020
1,2,Promoção de Primavera Americana,"0,05",01/01/2017,31/03/2017
2,3,Promoção Volta às Aulas Americanas,"0,1",01/07/2017,30/09/2017
3,4,Promoção Férias Escolares Americanas,"0,2",01/11/2017,31/12/2017
4,5,Promoção Férias Asiáticas,"0,15",01/11/2017,31/01/2018

### Agora, imagina que a Loja Contoso Roma (ID 222), para tentar burlar o sistema de metas, diminuiu 1 da quantidade devolvida de todas as vendas que ela teve. Descobrindo isso, precisamos ajeitar a base

- Farei com um for, principalmente por motivos didáticos, mas teríamos outras formas de fazer isso também.