# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [26]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]
print(f'{"NOME":20}{"VENDAS":^20}')
for i in range(len(vendas)):
    print(f'{vendedores[i]:20}{vendas[i]:^20.2f}')    
media = sum(vendas)/len(vendedores)

print(f'média de vendas: R${media:^20.2f}')

NOME                       VENDAS
Fulano                    1000.00
Beltrano                  1500.00
Ciclano                   1200.00
Lira                      1300.00
média de vendas: R$      1250.00

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [43]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]
medias = []
media = 0
acima_media = 0

for notas_aluno in notas:
    media = sum(notas_aluno)/4
    medias.append(media)

print(f'{"ALUNO":20}{"MÉDIA":^10}')
for i in range(len(alunos)):
    print(f'{alunos[i]:20}{medias[i]:^10.1f}')
    if medias[i] > 7:
        
        acima_media += 1
print(f'total de aluno acima da média {acima_media}')
print(f'{"ALUNO":20}{"MÉDIA":^10}')
for i in range(len(alunos)):
    if medias[i] > 7:
        print(f'{alunos[i]:20}{medias[i]:^10}')

ALUNO                 MÉDIA
José                   8.8
Joana                  6.5
Maria                  10.0
Carla                  6.8
Mauricio               6.2
Andre                  7.2
Tiago                  7.5
Enzo                   6.5
Amanda                 7.5
Alessandra             4.2
total de aluno acima da média 5
ALUNO                 MÉDIA
José                   8.75
Maria                  10.0
Andre                  7.25
Tiago                  7.5
Amanda                 7.5

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [17]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739, 2219, 3554, 3978, 4014, 3270, 4792, 3879 ,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]
cont = 0
media_salarial = sum(salarios)/len(salarios)
print(f'media salarial = {media_salarial}')    
for i, idade in enumerate(idades):
    if idade > 25 and salarios[i] < media_salarial:
        cont += 1           
print(f'existem {cont} funionaros')

media salarial = 3319.8
existem 12 funionaros

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [25]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]
media_temperatura = sum(temperaturas)/12
print('foram estes os meses com teperaturas acima da média>>>>',end=' ')
for i , temp in enumerate(temperaturas):
    if temp > media_temperatura:
        print(f'{meses[i]},',end =" ")

foram estes os meses com teperaturas acima da média>>>> Janeiro, Fevereiro, Março, Abril, Junho, Novembro, Dezembro,

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [43]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []
cont_valor_min = 0

for salario in lista_salarios:
    if  salario * 0.20 < 100:
        abonos.append(100)
    else:
        abonos.append(salario * 0.2)  

for abono in abonos:
    if abono == 100:
        cont_valor_min += 1
#print(abonos)
for i ,salario in enumerate(lista_salarios):
    print(f'{salario:<10} {abonos[i]:<10}')
   
print(f'foram processados{len(lista_salarios)} funcionarios')
print(f'total de valor gasto com abonos {sum(abonos):.2f}')
print(f'total de valores minimos: {cont_valor_min}')
print(f'maior valor pago de abono: {max(abonos)}')

1000       200.0
300        100
500        100.0
200        100
1500       300.0
3000       600.0
3400       680.0
5000       1000.0
7000       1400.0
2000       400.0
600        120.0
800        160.0
250        100
1500       300.0
20000      4000.0
foram processados15 funcionarios
total de valor gasto com abonos 9560.00
total de valores minimos4
maior valor pago de abono: 4000.0

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [70]:
print('=-'*30)
print('Comparativo de Consumo de Combustível')
print('=-'*30)
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]

for i , veiculo in enumerate(veiculos):
    print(f'veiculo: {i+1}')
    print(f'nome: {veiculo}')
    print(f'km por litro: {autonomias[i]}')
print('=-'*30)
print('Relatório Final')
print('=-'*30)

for i , autonomia in enumerate(autonomias):
    print(f'{i+1:<2} - {veiculos[i]:10} - {autonomia:<5} - {1000/autonomia:.1f}L - R${(1000/autonomia) * 2.25:.2f}')
    
maior = max(autonomias)
i = autonomias.index(maior)
print(f'a maior automia é {veiculos[i]} com {maior} por litro ')

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Comparativo de Consumo de Combustível
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
veiculo: 1
nome: fusca
km por litro: 7
veiculo: 2
nome:  gol
km por litro: 10
veiculo: 3
nome: uno
km por litro: 12.5
veiculo: 4
nome: vectra
km por litro: 9
veiculo: 5
nome: peugeot
km por litro: 14.5
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Relatório Final
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
1  - fusca      - 7     - 142.9L - R$321.43
2  -  gol       - 10    - 100.0L - R$225.00
3  - uno        - 12.5  - 80.0L - R$180.00
4  - vectra     - 9     - 111.1L - R$250.00
5  - peugeot    - 14.5  - 69.0L - R$155.17
a maior automia é peugeot com 14.5 por litro

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [86]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
salarios = []
salario = 0
for i, venda in enumerate(vendas):
    salario = 200 + venda * 0.09
    salarios.append(salario)
cont299 = cont399 = cont499 = cont599 = cont699 = cont799 = cont899 =cont999 = cont1000 = 0 
for salario in salarios:
    if 200 <= salario < 299:
        cont299 += 1
    elif 300 <= salario < 399:
        cont399 += 1
    elif 400 <= salario < 499:
        cont499 += 1
    elif 500 <= salario < 599:
        cont599 += 1
    elif 600 <= salario < 699:
        cont699 += 1
    elif 700 <= salario < 799:
        cont799 += 1
    elif 800 <= salario < 899:
        cont899 += 1
    elif 900 <= salario < 999:
        cont999 += 1
    else:
        cont1000 += 1
print(salarios)

print(f'faixa entre 200 e 299: {cont299}')  
print(f'faixa entre 300 e 399: {cont399}')    
print(f'faixa entre 400 e 499: {cont499}')
print(f'faixa entre 500 e 599: {cont599}')
print(f'faixa entre 600 e 699: {cont699}')
print(f'faixa entre 700 e 799: {cont799}')
print(f'faixa entre 800 e 899: {cont899}')
print(f'faixa entre 900 e 999: {cont999}') 
print(f'acima de 999: {cont1000}')

[290.0, 380.0, 470.0, 560.0, 650.0, 740.0, 695.0, 605.0, 524.0]
faixa entre 200 e 299: 1
faixa entre 300 e 399: 1
faixa entre 400 e 499: 1
faixa entre 500 e 599: 2
faixa entre 600 e 699: 3
faixa entre 700 e 799: 1
faixa entre 800 e 899: 0
faixa entre 900 e 999: 0
acima de 999: 0